@import "tailwindcss";

@theme inline {
  --color-bg: #0a0a0a;
  --color-surface: #111111;
  --color-surface2: #161616;
  --color-surface3: #1c1c1c;
  --color-border: #2a2a2a;
  --color-border2: #333333;
  --color-text: #f0f0f0;
  --color-text2: #a0a0a0;
  --color-text3: #555555;
  --color-accent: #4ade80;
  --color-blue: #60a5fa;
  --color-yellow: #fbbf24;
  --color-red: #f87171;
  --color-purple: #a78bfa;

  --color-accent-dim: rgba(74, 222, 128, 0.12);
  --color-red-dim: rgba(248, 113, 113, 0.12);
  --color-blue-dim: rgba(96, 165, 250, 0.12);
  --color-yellow-dim: rgba(251, 191, 36, 0.12);
  --color-purple-dim: rgba(167, 139, 250, 0.12);

  --font-sans: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
